.reveal .compact {
    font-size: .8em;
}

.reveal .compact h3 {
    font-size: 1em;
    margin-bottom: 10px;
}

.reveal .compact p {
    margin: 10px 0;
    line-height: 1.1;
}

.reveal h1, .reveal h2, .reveal h3 {
    color: #f1c40f;
}

.reveal *:not(pre)> code {
    font-family: consolas;
    text-transform: none;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    color: rgb(255, 244, 90);
    font-size: .9em;
}

ul.no-list {
    margin: 0;
}

.no-list li {
    list-style-type: none;
}